@import url(./reset.css);
@import url(./btn.css);

hr {
    background: #ed0004;
    width: 100%;
    height: 5px;
    margin: 15px 0;
}

body{
    background: #000;
    text-align: center;
}

header{
    padding: 20px;
    background: #ed0004;
    color: #fff;
}

header p {
    margin-bottom: 15px;
}

header .header-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    border: 3px solid #fff;
    box-shadow: 0 10px 5px #000;
}

header img {
    width: 250px;
    transition: .5s;
}

header img:hover {
    transform: translateY(-50%);
}

header h1 {
    padding: 30px;
}

form {
    margin: auto;
    width: 70%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-size: 20px;
    background: #eee;
    border-bottom: 1px solid #ed0004;
}

form h2 {
    margin: 15px;
}

form input{
    width: 300px;
    height: 50px;
    padding: 5px;
    margin: 10px 10px;
    font-size: 16px;
    transition: border-radius .5s;   
}

form label{
    margin: 15px 0;
}

form input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border-radius: 10px;
}

form #listaMusicas {
    list-style: none;
    display: flex;
    flex-direction: column;
}

form #listaMusicas input[type="text"]{
    background: #888;
    border-radius: 20px;
    border: 1px solid #000;
    color: #fff;
}

form textarea {
    border-radius: 20px;
    border: 1px solid #000;
    padding: 10px;
    font-size: 16px;
    width: 75%;
    height: 150px;
    transition: display .5s;
}

form input[type="radio"] {
    appearance: none;
    background: #fff;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    transition: background .5s;
}

form input[type="radio"]:checked {
    background: red;
}

#pictureInput {
    display: none;
}

.picture {
width: 400px;
aspect-ratio: 16/9;
background: #ddd;
display: flex;
align-items: center;
justify-content: center;
color: #aaa;
border: 2px dashed currentcolor;
cursor: pointer;
font-family: sans-serif;
transition: color 300ms ease-in-out, background 300ms ease-in-out;
outline: none;
overflow: hidden;
}

.picture:hover {
color: #777;
background: #ccc;
}

.picture:active {
border-color: turquoise;
color: turquoise;
background: #eee;
}

.picture:focus {
color: #777;
background: #ccc;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pictureImg {
max-width: 100%;
}
  

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee;
}

footer img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
    transition: .5s;
}

footer img:hover {
    transform: scale(1.1);
}

.contact img {
    width: 100px;
    border-radius: 0;
}

@media (max-width : 980px) {
    header h3{
        font-size: 20px;
    }

    form {
        font-size: 32px;
    }

    .main-content h2 {
        margin: 30px 0;
    }

    form input {
        font-size: 22px;
    }

    .main-content form{
        width: 100vw;
    }

    .contact img {
        width: 100px;
        border-radius: 0;
    }
}

@media (min-width : 1500px) {
    form {
        width: 80vw;
    }
}
/*Animations*/

body {
    animation: fromTop .7s .4s backwards;
}
footer {
    animation: fromBottom 1s 1s backwards;
}

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-500px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(300px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}